
/* +++++++++++++++++++++++++++++++++++++ Index Page */
* {
	box-sizing: border-box;
}

html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: black;
}

/* Style displays for the mobile class */
.mobile {
	display: inline;
}

/* Style hides the desktop class*/
.desktop {
	display: none;
}

/* **** NAVBAR **** */
/* Mobile Hamburger ICON */
#page-links {
	width: 35px; /* width of each line */
	height: 3px; /* height of each line */
	background-color: white;
	margin: 10px 0;
}
#hamburger {
	position: fixed;
	top: 10px;
	right: 0;
	z-index: 1;
	padding-right: 10px;
} /* END Mobile Hamburger ICON */

/* +++++++++++++++++++++++++++++++++++ Mobile hyperlink page */
#link-page-container {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "links";
}
#link-page-container .links {
    text-align: center;
}
#link-page-container .links ul {
    grid-area: links;
	color: white;
    text-align: center;
	display: inline-block;
	width: 50%;
	line-height: 100%;
	padding: 0;
	font-size: 3em;
}
#link-page-container .links li {
	position: relative;
	display: inline-block;
	cursor: pointer;
}
#link-page-container .links a {
    display: inline-block;
	margin: 50px 0;
	color: white;
	text-align:center;
	text-decoration: none;
	font-weight: bold;        
}/* END of link-page container */

 /* Strike-through hover effect */
.strike {
	position: relative;
	display: block;
	cursor: pointer;
}
.strike:before, .strike:after {
	content: '';
	position: absolute;
	width: 0%;
	height: 8px;
	top: 50%;
	margin-top: -0.5px;
	background: black;
}
.strike:before {
	left: -2.5px;
}
.strike:after {
	right: 2.5px;
	background: black;
	transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.strike:hover:before {
	background: black;
	width: 100%;
	transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.strike:hover:after {
	background: transparent;
	width: 100%;
	transition: 0s;
}/* END of Strike-through hover effect */
/* +++++++++++++++++++++++++++++++ END of Mobile Hyperlink Page */

/* Style for adjusting the name and contact top left */
.quick-contact {
    position: absolute;
    top: 10px;
    left: 0; 
    text-shadow:#000;
}

.quick-contact h2 {
    font-family: Verdana, sans-serif;
    font-size: 1.2em;
    color:white;
}

.quick-list a {
    float: left;
    font-size: 1.5em;
    padding-right: 8px;
}
/* END of name and contact top left */

/* Navbar links */
nav {
    background-color: black;
    grid-area: nav;
    border-radius:var(--main-radius);
    padding-top: var(--main-padding);
    padding: 10px;
    list-style-type: none;
    text-align: right;
}
/* END of Navbar links */
/* **** END of NAVBAR **** */

#index-container {
    display: grid;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr .8fr .5fr .5fr 0.1fr;
    grid-template-areas: 
    "nav"
    "upper-main"
    "boxes"
    "index-title"
    "footer";
    grid-gap: 0.2em;
}

/* **** Main section **** */
#upper-main {
    grid-area: upper-main; 
    grid-row: 2;
    text-align: center;  
    vertical-align: middle;
    display: table-cell;
    background-color: black;
    line-height: 50px;
    margin: 20px auto;
    padding-top: 45px;
}
#upper-main span {
    font-size: 2em;
}
#upper-main p {
    font-family: Otomanopee One;
    background-color: black;
    text-align: center;  
    vertical-align: middle;
    font-size: 1.5em;
    padding-top: px;
    color: white;
    margin-bottom: 20px;
}
#upper-main #top-underline {     
    background-color:white;
    margin: 20px auto;
    width: 180px;
    height: 3px;
}
/* **** END Main section **** */

/* arrow button */
#upper-main .arrow {
    box-sizing: border-box;
    height: 10vw;
    width: 10vw;
    border-style: solid;
    border-color: white;
    border-width: 0px 1px 1px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
}  
#upper-main .arrow:hover {
    border-bottom-width: 4px;
    border-right-width: 4px;
}  
#upper-main .arrow-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin-top: 10px;
    height: 25px;
}
/* END of arrow button */
/* Lower index Page */

/* down arrow leads to this page */
/* Box Effect */
#index-container #boxes {
    grid-area: boxes;
    grid-row: 3;
    display: block;
    background-color: black;
}
#index-container #boxes .box {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    border: 5px solid white;
    background:transparent;
    transition: height 0.5s;
    transition: width 0.5s;
    transition: border-radius 2s, box-shadow 2s, background 2s;
    text-align: center;
    vertical-align: middle;
    display: grid;
    margin: 40px auto;
    box-shadow: 0;
}  
#index-container #boxes .box:hover {
    border-radius: 0%;
    border: 5px solid white;
    box-shadow: 0px 8px 6px -4px #000000;
    background: transparent;
    transition: border-radius 0.4s, box-shadow 0.4s, background 0.4s;
}
#index-container #boxes .box p {
    color: white;
    font-size: 22px;
    vertical-align: middle;
    display: inline-block;
    height: 90px;
    line-height: 30px;
    margin: 22px;
    background: transparent;
}
#index-container #boxes .box a {
    color:white;
    vertical-align: middle;
    display: inline-block;
    height: 90px;
    line-height: 180px;
    font-size: 32px;
}   /* END of Box Effect */


#index-title {
    grid-area: index-title;
    grid-row: 4;
    display: block;
    margin: 20px auto;
    align-items: center;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#index-title h3 {
    font-size: 16px;
    line-height: 30px;
    padding: 20px 15px 15px 20px;
    text-align: center;
    font-weight: 500;
}
#index-title h1 {
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    padding: 0 15px 0 15px;
} /* END of Second Page */

/* **** Footer section **** */
footer {
    background-color: black;
    grid-area:footer;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
}
#social {
    color: white;
}
#social a {
    font-size: 2em;
    color: white;
}
#copyright {
    color:white;
}
#copyright a {
    color: white;
    text-decoration: none;
} /* END of Footer section */

  /* ++++++++++++++++++++++++++++++++++++++++ About Page */

  .about-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.3fr 1fr 0.8fr 0.2fr;
    grid-template-areas: 
    "nav"
    "about"
    "figure"
    "section"
    "footer";
}

.about-container .about {
    grid-area: about;
    grid-row: 2;
    display: inline-block;
    background-color: black;
    margin: 50px auto;
    padding-top: 50px;
}
.about-container .about h1 {
    color: white;
    font-size: 4em;
    text-align: center;
    margin: 0 auto;
}
.about-container #underline {
    grid-area: about;
    background-color:white;
    margin: 10px auto;
    width: 180px;
    height: 3px;
}

.about-container figure {
    grid-area: figure;
    background-color: black;
    display: inline-block;      
    text-align: center;
    grid-row: 3;
    height: 100%;
    width: auto;
}
.about-container figure img {
    display: block;
    height: 500px;
    width: auto;
    margin: 0 auto;
}

.about-container section {
    display: block;
    grid-area: section;
    grid-row: 4;
    height: 450px;
    width: 100%;
    padding: 0 10px 0 10px;
    text-align: left;
    margin-bottom: 150px;
    background-color: black;
}
.about-container section h5 {
    font-size: 2em;
    color: white;
    letter-spacing: 2px;
    text-align: left;
    text-decoration-line: underline;
}
.about-container section p {
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 1.25em;
}
.about-container section button {
    height: 50px;
    width: 150px;
    background: black;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    font-weight: bold;
    border-radius: 30px;
    transition: .4s;
}
.about-container button:hover {
    background: transparent;
    border: 2px solid blue;
    cursor: pointer;
} 
/* ++++++++++++++++++++++++++++++++++++++++ END of About Mobile */

/* +++++++++++++++++++++++++++++++++ My-portfolio Page */

/* **** Main section **** */

#porfolio-container {
    display: grid;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 0.2fr;
    grid-template-areas: 
    "nav"
    "port-main"
    "article"
    "icons"
    "big-box-1"
    "big-box-2"
    "big-box-3"
    "footer";
}

.port-main {
    grid-area: port-main; 
    grid-row: 2;
    height: 500px;
    width: auto;
    display: block;
    margin-top: 100px;
    background-color: black;
    line-height: 50px;

}
.port-main span {
    font-family: Otomanopee One;
    font-size: 2.25em;
    color: white;
}

.port-main p {
    grid-area: port-main; 
    text-align: center;  
    vertical-align: middle;
    font-size: 1.5em;
    padding-top: 60px;
    color: white;
}
.port-main .top-underline {     
    grid-area: port-main;
    background-color:white;
    margin: 20px auto;
    width: 180px;
    height: 3px;
}

/* **** END of Main section **** */

/* arrow button */
.port-main .arrow {
    box-sizing: border-box;
    height: 10vw;
    width: 10vw;
    border-style: solid;
    border-color: white;
    border-width: 0px 1px 1px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
}  
.port-main .arrow:hover {
    border-bottom-width: 4px;
    border-right-width: 4px;
}  
.port-main .arrow-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin-top: 15px;
    padding-bottom: 100px;
    height: 25px;
}
/* END of arrow button */

 /* down arrow leads to this page */
 #article {
    grid-area: article;
    grid-row: 3;
    display: block;
    height: auto;
    margin-top: 30px;
    padding-top: 0.2px;
    text-align: center;
    background-color: black;
}
#article h1 {
    font-size: 2em;
    color: white;
    margin: 80px auto;
    text-align: center;  
    vertical-align: middle;
    max-width: 300px;
    padding-top: 30px;
}
.icons {
    grid-area: icons;
    grid-row: 4;
    height: auto;
    margin: 0 auto;
    text-align: center;
    background-color:black;
    margin-bottom: 100px;
}

.big-box-1 {
    grid-area: big-box-1;
    grid-row: 5;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    background-color:black;
    margin-bottom: 100px;
}
.big-box-1 .box1 {
    height: 300px;
    width: auto;
    border-radius: 0%;
    border: 5px solid white;
    background:transparent;
    transition: border-radius 0.4s, box-shadow 0.4s, background 0.4s;
    box-shadow: 0; 
}
.big-box-1 .box1 p {
    padding-top: 30px;
    text-align: center;
    margin: 0 auto;
}
.big-box-1 .project1 {
    margin: 0 auto;
}

.big-box-2 {
    grid-area: big-box-2;
    grid-row: 6;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    background-color:black;
    margin-bottom: 100px;
}
.big-box-2 .box2 {
    height: 300px;
    width: auto;
    border-radius: 0%;
    border: 5px solid white;
    background:transparent;
    transition: border-radius 0.4s, box-shadow 0.4s, background 0.4s;
    box-shadow: 0; 
}
.big-box-2 .box2 p {
    padding-top: 65px;
    text-align: center;
    margin: 0 auto;
}
.project2 {
    margin: 0 auto;
}

.big-box-3 {
    grid-area: big-box-3;
    grid-row: 7;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    background-color:black;
    margin-bottom: 100px;
}
.big-box-3 .box3 {
    height: 300px;
    width: auto;
    border-radius: 0%;
    border: 5px solid white;
    background:transparent;
    transition: border-radius 0.4s, box-shadow 0.4s, background 0.4s;
    box-shadow: 0;  
}
.big-box-3 .box3 p {
    padding-top: 55px;
    text-align: center;
    margin: 0 auto;
}
.project3 {
    margin: 0 auto;
}

iframe {
    width: 100%;
    height: 300px;
    margin: 0 auto;
}

.big-box-1 .box1 p, 
.big-box-2 .box2 p, 
.big-box-3 .box3 p {
    color: white;
    font-size: 22px;
    vertical-align: middle;
    display: inline-block;
    height: 90px;
    line-height: 30px;
    margin: 22px;
    background: transparent;
}
.big-box-1 .box1 a, 
.big-box-2 .box2 a, 
.big-box-1 .box3 a {
    z-index: -1;
    color: white;
    background: transparent;
    vertical-align: middle;
    display: inline-block;
    height: 90px;
    line-height: 180px;
    font-size: 32px;
}   /* END of Box Effect */

/* END of Second Page */
/* +++++++++++++++++++++++++++++++++ END of My-portfolio Page */

/* +++++++++++++++++++++++++++++++++++++ Contact Page */
.contact-page-container {
    display: grid;
    height: auto;
    grid-template-columns: 1fr; 
    grid-template-rows: 0.2fr 5.3fr 0.2fr;
    grid-template-areas: 
    "nav"
    "contact-main"
    "footer";
    grid-gap: 0.2em;    
}

/*Section tag*/
#contact-main {
    position: absolute;
    overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
    margin-top: 100px;
	min-height: 100%;
	padding: 20px;
	width: fit-content;
	background: black;
}

/* Orange circle */
#contact-main::before {
	content: '';
	position: absolute;
	width: 400px;
	height: 400px;
	background: linear-gradient(#FFEB3B,#E91E63);
	border-radius: 50%;
	transform: translate(-220px,-200px);
}

/* Blue circle */
#contact-main::after {
	content: '';
	position: absolute;
    overflow: hidden;
	width: 350px;
	height: 350px;
	background: linear-gradient(#2196f3,#83d8ff);
	border-radius: 50%;
	transform: translate(200px,200px);
}
.contact-container {
	position: relative;
	z-index: 1000;
	width: auto;
	padding: 20px;
	background: rgba(255,255,255,0.1);
	box-shadow: 0 25px 45px rgba(0,0,0,0.1);
	border: 1px solid rgba(255, 255, 255, 0.25);
	border-right: 1px solid rgba(255, 255, 255, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.contact-container::before {
	content: '';
	position: absolute;
	top: 0;
	left: -40%;
	width: auto;
	height: 100%;
	background: rgba(255, 255, 255, 0.05);
	pointer-events: none;
	transform: skew(-15deg);
}

.contact-container h2  {
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 2.5em;
}

.underline {
    background-color:white;
    margin: 0px auto;
    width: 150px;
    height: 3px;
}

.contact-container .row100 {
    margin-top: 20px;
	position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}

.contact-container .row100 .col {
	position: relative;
	width: 100%;
	padding: 0 10px;
	margin: 30px 0 20px;
}

.contact-container .row100 .col .input-box {
	position: relative;
	width: 100%;
	height: 40px;
	color: #fff;
}

.contact-container .row100 .col .input-box input,
.contact-container .row100 .col .input-box textarea {
	position: absolute;
	width: 100%;
	height: 100%;
	background: transparent;
	box-shadow: none;
	border: none;
	outline: none;
	font-size: 15px;
	padding: 0 10px;
	z-index: 1;
	color: #000;	
}

.contact-container .row100 .col .input-box .text {
	position: absolute;
	top: 0;
	left: 0;
	line-height: 40px;
	font-size: 18px;
	padding: 0 10px;
	display: block;	
	transition: 0.5s;
	pointer-events: none;
    color: white;
}

.contact-container .row100 .col .input-box input:focus + .text,
.contact-container .row100 .col .input-box input:valid + .text,
.contact-container .row100 .col .input-box textarea:focus + .text,
.contact-container .row100 .col .input-box textarea:valid + .text {
	top: -35px;
	left: -10px;
}

.contact-container .row100 .col .input-box .line {
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
	height: 2px;
	background: #fff;
	transition: 0.5s;
	border-radius: 2px;
	pointer-events: none;
}

.contact-container .row100 .col .input-box input:focus ~ .line,
.contact-container .row100 .col .input-box input:valid ~ .line {
	height: 100%;
}

.contact-container .row100 .col .input-box.textarea {
	position: relative;
	width: 100%;
	height: 100px;
	padding: 10px 0;
}

.contact-container .row100 .col .input-box textarea:focus ~ .line,
.contact-container .row100 .col .input-box textarea:valid ~ .line {
	height: 100%;
}

.contact-container .row100 .col input[type="submit"] {
    height: 50px;
    width: 100px;
    background: black;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    font-weight: bold;
    border-radius: 10px;
    transition: .4s;
    text-align: center;
}
.contact-container .row100 .col input[type="submit"]:hover {
    background: transparent;
    border: 2px solid blue;
    cursor: pointer;
} 

/* +++++++++++++++++++++++++++++++++++++ END of Contact Page */

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++ MIN- WIDTH: 660PX ++++++++++++++ */
@media only screen and (min-width: 660px) {

    .desktop {
        display: inline;
    }

    .mobile {
        display: none;
    }

    /* **** NAVBAR Section **** */
	nav {
		margin: 0px 0 0 ;
		padding: 10px 10px 0;
        position: fixed;
        width: 100%;
        background-color: transparent;
	}

	/* Style specifies margin and padding for the unordered list within the nav */
	nav ul {
		list-style: none;
		margin: 0 2px;
		padding:0;
	}

	/* Style for navigation list items specifies a margin, width, and padding */
	nav li {
		display: inline-block;
		padding: 5px 5px;
	}

	/* Style for navigation links specifies display and padding */
	nav a {
		text-decoration: none;
		font-weight: normal;
		padding: 10px 5px;
		font-size: 1.15em;
        color: white;
	}

    .quick-contact {
        position: absolute;
        padding-left: 10px;
        top: 0px;
        left: 0; 
    }

    .quick-contact h2 {
        font-family: Verdana, sans-serif;
        font-size: 1.5em;
        color:white;
        position: fixed;
    }
    
    .quick-contact .quick-list a {
        padding-top: 60px;        
    }

    /* Strike-through hover effect for Home page */
	li {
		position: relative;
		display: inline-block;
		cursor: pointer;
		padding: 0px 0px;
	}
	li:before, li:after {
		content: '';
		position: absolute;
		width: 0%;
		height: 2px;
		top: 50%;
		margin-top: -0.5px;
		background: black;
	}
	li:before {
		left: -1.5px;
		background: black;
		transition: width 1s cubic-bezier(0.22, 0.61, 0.36, 1);

	}
	li:after {
		right: 1.5px;
		background: black;
		transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
	}
	li:hover:before {
		background: black;
		width: 100%;
		transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
	}
	li:hover:after {
		background: transparent;
		width: 100%;
		transition: 0s;
	}
    /* END of hover effect */
    /* **** END of NAVBAR Section **** */

    /*+++++++++++++++++++++++++++++++++++++++++++ Index Page */

    #index-container {
        display: grid;
        height: auto;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr; /* 1fr = 1 column wide. Write how i did gives 4 col*/
        grid-template-rows: 0.2fr 2.5fr 0.5fr 0.5fr 0.2fr;
        grid-template-areas: 
        "nav nav nav nav"
        "upper-main upper-main upper-main upper-main"
        "boxes boxes boxes boxes"
        "index-title index-title index-title index-title"
        "footer footer footer footer";
        grid-gap: 1em;
    }

    /* The whole paragraph */
    #upper-main {
        background-color: black;
        font-family: Otomanopee One;
        grid-area: upper-main; 
        grid-row: 2;   
        display: block;
        width: 100%;
        line-height: 80px;
        margin: 40px auto;
        text-align: center;
    }
    #upper-main p {
        grid-row: 2;
        font-size: 2em;
        text-align: center;  
        vertical-align: middle;
        color: white;
        line-height: 65px;
        margin: 0 auto;
    }
    /* All the uppercase words */
    #upper-main span {
        font-size: 2.2em;
        margin: 0 auto;
        text-align: center;
        vertical-align: middle;
        color: white;
    }
    #upper-main #top-underline {   
        background-color:white;
        margin: 30px auto;
        width: 280px;
        height: 3px;
    }
    /* Down arrow button */
    #upper-main .arrow {
        box-sizing: border-box;
        height: 5vw;
        width: 5vw;
        border-style: solid;
        border-color: white;
        border-width: 0px 1px 1px 0px;
        transform: rotate(45deg);
        transition: border-width 150ms ease-in-out;
    }    
    #upper-main .arrow:hover {
        border-bottom-width: 4px;
        border-right-width: 4px;
    }      
    #upper-main .arrow-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        margin-top: 20px;
        padding-bottom: 100px;
        height: 20px;
    }
    /* END of arrow button */
    
    /* Second Page */

    /* Down arrow leads to this page */

    /* Box Effect */
    #index-container #boxes {
        grid-area: boxes;
        grid-row: 3;
        display: block;
        text-align: center;
        width: 100%;
        background-color: black;
        margin: 20px auto;
    }
    #index-container #boxes .box {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        border: 5px solid white;
        background:transparent;
        transition: height 0.5s;
        transition: width 0.5s;
        transition: border-radius 2s, box-shadow 2s, background 2s;
        text-align: center;
        display: inline-block;
        margin: 30px;
        box-shadow: 0;
        font-size: 14px;
    } 
    #index-container #boxes .box p {
        color: white;
        display: inline-block;
        height: 0;
    }
    #index-container .boxes .box a {
        display: inline-block;
        color:white;
        height: 0;
        font-size: 2.2em;
    }
    #index-container #boxes .box:hover {
        border-radius: 0%;
        border: 5px solid white;
        box-shadow: 0px 8px 6px -4px #000000;
        background: transparent;
        transition: border-radius 0.4s, box-shadow 0.4s, background 0.4s;
    }
    /* END of Box Effect */

    #index-title {
        grid-area: index-title;
        grid-row: 4;
        display: block;
        color:white;
        width: 100%;
        background-color: black;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    #index-title h1 {
        display: inline-block;
        text-align: center;
        font-size: 2em;
        width: 45%;
        padding-left: 30px;
        line-height: 40px;
        text-align: right;
    }
    #index-title h3 {
        display: inline-block;
        font-size: 16px;
        line-height: 25px;
        width: 45%; 
        text-align: left;
        font-weight: 500;
    }/* END of Second Page */
    

    /* +++++++++++++++++++++++++++++++++++++++ END Index Page */

    /* ++++++++++++++++++++++++++++++++++++++++ About Page */
    .about-container {
        display: grid;
        height: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.2fr 0.3fr 1fr 0.2fr;
        grid-template-areas: 
        "nav nav nav nav"
        "about about about about"
        "figure figure section section"
        "footer footer footer footer";
    }

    .about-container .about {
        font-family: Otomanopee One;
        grid-area: about;
        grid-row: 2;
        display: block;
        background-color: black;
        margin-top: 5px;
        justify-content: center;
    }
    .about-container .about h1 {
        color: white;
        margin: 0 auto;
        font-size: 3em;
        text-align: center;
    }
    .about-container #underline {
        grid-area: about;
        background-color:white;
        margin: 10px auto;
        width: 180px;
        height: 3px;
    }

    .about-container figure {
        grid-area: figure;
        background-color: black;
        display: flex;      
        grid-row: 3;
        height: 450px;
        width: 90%;
        margin-top: 20px auto;
    }
    .about-container figure img {
        display: block;
        height: 450px;
    }

    .about-container section {
        display: block;
        grid-area: section;
        grid-row: 3;
        height: 450px;
        margin-top: 20px;
        padding-top: 30px;
        padding-right: 20px;
        text-align: left;
        background-color: black;
    }
    .about-container section h5 {
        font-size: 1.5em;
        color: white;
        letter-spacing: 2px;
        text-align: left;
    }
    .about-container section p {
        color: white;
        letter-spacing: 1px;
        font-size: 2;
    }

    .about-container section button {
        background: black;
        color: white;
        text-decoration: none;
        border: 2px solid white;
        font-weight: bold;
        border-radius: 30px;
        transition: .4s;
        margin: 0 auto;
    }
    .about-container button:hover {
        background: transparent;
        border: 2ps solid blue;
        cursor: pointer;
    } 
    /* ++++++++++++++++++++++++++++++++++++++++ END of About */

    /* +++++++++++++++++++++++++++++++++++++++++++ My-portfolio Page */

    /* **** Main section **** */
    #portfolio-container {
    display: grid;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* 1fr = 1 column wide. Write how i did gives 4 col*/
    grid-template-rows: 0.2fr 1.5fr .3fr .2fr .3fr .3fr .3fr 0.2fr;
    grid-template-areas: 
    "nav nav nav nav"
    "port-main port-main port-main port-main"
    "article article article article"
    "icons icons icons icons"
    "big-box-1 big-box-1 big-box-1 big-box-1"
    "big-box-2 big-box-2 big-box-2 big-box-2"
    "big-box-3 big-box-3 big-box-3 big-box-3"
    "footer footer footer footer";
    grid-gap: 1em;
    }

    .port-main {
        font-family: Otomanopee One;
        grid-area: port-main; 
        grid-row: 2;   
        background-color: black;
        display: block;
        line-height: 80px;
        margin: 0 auto;
        text-align: center;
    }
    .port-main span {
        font-size: 2.5em;
        color: white;
        margin: 0 auto;
        text-align: center;  
        vertical-align: middle;
    }
    .port-main p {
        text-align: center;  
        vertical-align: middle;
        font-size: 2.2em;
        color: white;
    }
    .port-main .top-underline {     
        grid-area: port-main;
        background-color:white;
        margin: 20px auto;
        width: 280px;
        height: 3px;
    }

    /* arrow button */
    .port-main .arrow {
        box-sizing: border-box;
        height: 5vw;
        width: 5vw;
        border-style: solid;
        border-color: white;
        border-width: 0px 1px 1px 0px;
        transform: rotate(45deg);
        transition: border-width 150ms ease-in-out;
    }  
    .port-main .arrow:hover {
        border-bottom-width: 4px;
        border-right-width: 4px;
    }  
    .port-main .arrow-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        margin-top: 40px;
        padding-bottom: 100px;
        height: 20px;
    }
    /* END of arrow button */
    /* **** END of Main section **** */

    /* Second Page */
    /* down arrow leads to this page */
    #article {
        grid-area: article;
        grid-row: 3;
        display: block;
        height: auto;
        margin: 0 auto;
        text-align: center;
        background-color: black;
    }
    #article h1 {
        font-size: 2em;
        color: white;
        margin: 80px auto;
        text-align: center;  
        vertical-align: middle;
        max-width: 600px;
        padding-top: 30px; 
    }
    .icons {
        grid-area: icons;
        grid-row: 4;
        margin: 0 auto;
        background-color:black;
        margin-bottom: 100px;
    }

    .icons img {
        margin: 0 auto;
    }

    .big-box-1 {
        grid-area: big-box-1;
        grid-row: 5;
        height: auto;
        display: block;
        margin: 0 auto;
        text-align: center;
        align-items: center;
        background-color:black;
        margin-bottom: 100px;
    }
    .big-box-1 .box1 {
        height: 300px;
        width: 400px;
        border-radius: 0%;
        border: 5px solid white;
        background:transparent;
        transition: border-radius 0.4s, box-shadow 0.4s, background 0.4s;
        float: left;
        margin-right: 60px;
        box-shadow: 0; 
    }
    .big-box-1 .box1 p {
        padding-top: 30px;
        text-align: center;
        margin: 0 auto;
    }
    .project1 {
        float: right;
        margin-left: 60px;
    }

    .big-box-2 {
        grid-area: big-box-2;
        grid-row: 6;
        height: auto;
        display: block;
        margin: 0 auto;
        text-align: center;
        align-items: center;
        background-color:black;
        margin-bottom: 100px;
    }
    .big-box-2 .box2 {
        height: 300px;
        width: 400px;
        border-radius: 0%;
        border: 5px solid white;
        background:transparent;
        transition: border-radius 0.4s, box-shadow 0.4s, background 0.4s;
        float: right;
        margin-left: 60px;
        box-shadow: 0; 
    }
    .big-box-2 .box2 p {
        padding-top: 55px;
        text-align: center;
        margin: 0 auto;
    }
    .project2 {
        float: left;
        margin-right: 60px;

    }

    .big-box-3 {
        grid-area: big-box-3;
        grid-row: 7;
        height: auto;
        display: block;
        margin: 0 auto;
        text-align: center;
        align-items: center;
        background-color:black;
        margin-bottom: 100px;
    }
    .big-box-3 .box3 p {
        padding-top: 55px;
        text-align: center;
        margin: 0 auto;
    }
    .big-box-3 .box3 {
        height: 300px;
        width: 400px;
        border-radius: 0%;
        border: 5px solid white;
        background:transparent;
        transition: border-radius 0.4s, box-shadow 0.4s, background 0.4s;
        float: left;
        margin-right: 60px;
        box-shadow: 0;  
    }
    .project3 {
        float: right;
        margin-left: 60px;
    }

    iframe {
        width: 400px;
        height: 300px;
    }

    .big-box-1 .box1 p, 
    .big-box-2 .box2 p, 
    .big-box-3 .box3 p {
        color: white;
        font-size: 22px;
        vertical-align: middle;
        display: inline-block;
        height: 90px;
        line-height: 30px;
        margin: 22px;
        background: transparent;
    }
    .big-box-1 .box1 a, 
    .big-box-2 .box2 a, 
    .big-box-1 .box3 a {
        z-index: -1;
        color: white;
        background: transparent;
        vertical-align: middle;
        display: inline-block;
        height: 90px;
        line-height: 180px;
        font-size: 32px;
    }   /* END of Box Effect */
    
    /* END of Second Page */
    /* +++++++++++++++++++++++++++++++++ END of My-portfolio Page */

    /* +++++++++++++++++++++++++++++++++++++ Contact Page */
    .contact-page-container {
        display: grid;
        height: auto;
        grid-template-columns: 1fr; 
        grid-template-rows: 0.2fr 3.8fr 0.2fr;
        grid-template-areas: 
        "nav"
        "contact-main"
        "footer";
        grid-gap: 0.2em;    
    }
    
    /*Section tag*/
    #contact-main {
        position: absolute;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        min-height: 100%;
        padding: 20px;
        width: 100%;
        background-color: black;
    }
    .contact-container {
        position: relative;
        z-index: 1000;
        padding: 15px;
        width: 80%;
        background: rgba(255,255,255,0.1);
        box-shadow: 0 25px 45px rgba(0,0,0,0.1);
        border: 1px solid rgba(255, 255, 255, 0.25);
        border-right: 1px solid rgba(255, 255, 255, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
    
    /* Orange circle */
    #contact-main::before {
        content: '';
        position: absolute;
        width: 500px;
        height: 500px;
        background: linear-gradient(#FFEB3B,#E91E63);
        border-radius: 50%;
        transform: translate(-400px,-160px);
    }
    
    /* Blue circle */
    #contact-main::after {
        content: '';
        position: absolute;
        overflow: hidden;
        width: 450px;
        height: 450px;
        background: linear-gradient(#2196f3,#83d8ff);
        border-radius: 50%;
        transform: translate(400px,300px);
    }
    
    .contact-container::before {
        content: '';
        position: absolute;
        top: 0;
        left: -40%;
        width: auto;
        height: 100%;
        background: rgba(255, 255, 255, 0.05);
        pointer-events: none;
        transform: skew(-15deg);
    }
    
    .contact-container h2  {
        font-family: Otomanopee One;
        width: 100%;
        text-align: center;
        color: #fff;
        font-size: 3em;
    }

    .contact-container .underline {     
        background-color:white;
        margin: 0px auto;
        width: 230px;
        height: 3px;
        margin-bottom: 40px;
    }

    
    .contact-container .row100 {
        position: relative;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    }
    
    .contact-container .row100 .col {
        position: relative;
        width: 100%;
        padding: 0 10px;
        margin: 30px 0 20px;
    }
    
    .contact-container .row100 .col .input-box {
        position: relative;
        width: 100%;
        height: 40px;
        color: #fff;
    }
    
    .contact-container .row100 .col .input-box input,
    .contact-container .row100 .col .input-box textarea {
        position: absolute;
        width: 100%;
        height: 100%;
        background: transparent;
        box-shadow: none;
        border: none;
        outline: none;
        font-size: 15px;
        padding: 0 10px;
        z-index: 1;
        color: #000;
        
    }
    
    .contact-container .row100 .col .input-box .text {
        position: absolute;
        top: 0;
        left: 0;
        line-height: 40px;
        font-size: 18px;
        padding: 0 10px;
        display: block;	
        transition: 0.5s;
        pointer-events: none;
        color: white;
    }
    
    .contact-container .row100 .col .input-box input:focus + .text,
    .contact-container .row100 .col .input-box input:valid + .text,
    .contact-container .row100 .col .input-box textarea:focus + .text,
    .contact-container .row100 .col .input-box textarea:valid + .text {
        top: -35px;
        left: -10px;
    }
    
    .contact-container .row100 .col .input-box .line {
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        height: 2px;
        background: #fff;
        transition: 0.5s;
        border-radius: 2px;
        pointer-events: none;
    }
    
    .contact-container .row100 .col .input-box input:focus ~ .line,
    .contact-container .row100 .col .input-box input:valid ~ .line {
        height: 100%;
    }
    
    .contact-container .row100 .col .input-box.textarea {
        position: relative;
        width: 100%;
        height: 100px;
        padding: 10px 0;
    }
    
    .contact-container .row100 .col .input-box textarea:focus ~ .line,
    .contact-container .row100 .col .input-box textarea:valid ~ .line {
        height: 100%;
    }
    
    .contact-container .row100 .col input[type="submit"] {
        height: 50px;
        width: 100px;
        background: black;
        text-decoration: none;
        border: 2px solid white;
        font-weight: bold;
        border-radius: 10px;
        transition: .4s;
        text-align: center;
    }
    .contact-container .row100 .col input[type="submit"]:hover {
        background: black;
        border: 2px solid blue;
        cursor: pointer;
    }  
    /* +++++++++++++++++++++++++++++++++++++ END of Contact Page */

}
